<ul class="pagination">
  <li {% if include.selected=="1"%}class="active"{% endif %}><a href="part1">1: 概要</a></li>
  <li {% if include.selected=="2"%}class="active"{% endif %}><a href="part2">2: コンテナー</a></li>
  <li {% if include.selected=="3"%}class="active"{% endif %}><a href="part3">3: サービス</a></li>
  <li {% if include.selected=="4"%}class="active"{% endif %}><a href="part4">4: スウォーム</a></li>
  <li {% if include.selected=="5"%}class="active"{% endif %}><a href="part5">5: スタック</a></li>
  <li {% if include.selected=="6"%}class="active"{% endif %}><a href="part6">6: アプリのデプロイ</a></li>
</ul>
