<ul class="pagination">
  <li {% if include.selected=="1"%}class="active"{% endif %}><a href="part1">1: 概要と準備</a></li>
  <li {% if include.selected=="2"%}class="active"{% endif %}><a href="part2">2: アプリのコンテナー化</a></li>
  <li {% if include.selected=="3"%}class="active"{% endif %}><a href="part3">3: Kubernetes へのデプロイ</a></li>
  <li {% if include.selected=="4"%}class="active"{% endif %}><a href="part4">4: Swarm へのデプロイ</a></li>
  <li {% if include.selected=="5"%}class="active"{% endif %}><a href="part5">5: Docker Hub でのイメージ共有</a></li>
</ul>
